@import "../../css/colors.css";
@import "../../css/units.css";

.tag-button {
    padding: 0.63rem;
    background: #fff;
    border-radius: 0.63rem;
    color: #0091FF;
    height: 1.75rem;
    line-height: 1.75rem;
    font-size: 0.75rem;
    font-weight: 400;
    border: 0.06rem solid #00B6FF;
    cursor: pointer;
}

.tag-button-icon {
    max-width: 1rem;
    max-height: 1rem;
}

.active {
    background: #FF457F;
    border: none;
    color: #fff;
}
