@import "../../css/units.css";
@import "../../css/colors.css";

/* @todo: refactor this class name, and component: `sprite-selector` to `sprite` */
.sprite-selector-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-color: #9ee4ff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color: $text-primary;
    border-width: 0.125rem;
    border-style: solid;
    border-color: $ui-black-transparent;
    border-radius: $space;

    text-align: center;
    cursor: pointer;

    user-select: none;

    border: none;

    width: 4.0625rem;
    height: 5.5625rem;
    padding: 0.125rem;
    color: $ui-white;
}

.sprite-selector-item.is-selected {
    width: 5.25rem;
    height: 5.56rem;
    background: #e8f8ff;
    border-radius: 0.63rem 0rem 0rem 0.63rem;
    padding: 0;
    margin-left: -0.63rem;
}

.is-edit-space.sprite-selector-item.is-selected {
    margin-left: 0;
}

.sprite-selector-item:hover {
    /* border: .125rem solid $motion-primary; */
    /* background: $ui-white; */

    background: #e8f8ff;
}

.sprite-selector-item:hover .sprite-image,
.is-selected .sprite-image {
    filter: drop-shadow(0rem 0rem 0.125rem $ui-black-transparent);
}

.delete-sprite {
    position: absolute;
    width: 1.53rem;
    height: 1.53rem;
    background: #ff8baf;
    border-radius: 50%;
    top: -0.5rem;
    left: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-img {
    width: 1rem;
    height: 1rem;
}

.edit-sprite {
    position: absolute;
    top: calc(50% - 0.44rem);
    right: 0.28rem;
}

.edit-img {
    width: 0.53rem;
    height: 0.88rem;
}

/* Outer/Inner chicanery is to prevent layouts when sprite image changes */
.sprite-image-outer {
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    transform: translateZ(0);
}

.sprite-image-inner {
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprite-image {
    user-select: none;
    pointer-events: none;
    max-width: 2rem;
    max-height: 2rem;

    max-width: 2.75rem;
    max-height: 2.75rem;
    width: 2.75rem;
    height: 2.75rem;
    object-fit: contain;
    margin-top: 0.58rem;
}

.sprite-info {
    padding: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    font-size: 0.625rem;
    color: $text-primary;
    user-select: none;

    padding: 1px 0 0.25rem;
    font-family: SourceHanSansCN-Normal;
    font-size: 0.75rem;
    color: #eaf7ff;
    text-align: center;
}

.sprite-name {
    font-size: 1rem;
    color: #2671D0;
}

.sprite-name,
.sprite-details {
    /*
        For truncating overflowing text gracefully
        Min-width is for a bug: https://css-tricks.com/flexbox-truncated-text
    */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    color: #2671D0;
}

.sprite-details {
    font-size: 0.5rem;
}

.is-selected .sprite-info {
    /* background: $motion-primary; */
    /* color: $ui-white; */
}

.delete-button {
    /* position: absolute; */
    top: -0.625rem;
    z-index: auto;
}

[dir="ltr"] .delete-button {
    right: -0.625rem;
}

[dir="rtl"] .delete-button {
    left: -0.625rem;
}

.number {
    position: absolute;
    top: 0.15rem;
    font-size: 0.625rem;
    font-weight: bold;
    z-index: 2;
}

[dir="ltr"] .number {
    left: 0.15rem;
}

[dir="rtl"] .number {
    right: 0.15rem;
}

.action-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: #008ffd;
    border-radius: 0.625rem;
}
@media screen and (pointer: fine) {
    :hover .sprite-selector-item .action-wrap {
        display: none;
    }
    :hover .sprite-selector-item:hover .action-wrap {
        display: block;
    }
}

.action-wrap > button {
    flex: 1;
    width: 50%;
    height: 1.75rem;
    background: none;
}

.action-wrap > button > img {
    display: block;
    width: 1em;
    height: 1em;
    margin: auto;
}

/* 区分角色是造型栏 */
.is-edit-space.sprite-selector-item {
    background: #d7f4ff;
}
.is-edit-space.sprite-selector-item.is-selected {
    margin: 0.5rem auto;
    width: 4.06rem;
    height: 5.7rem;
    background: #9ee4ff;
    border-radius: 0.63rem;
    border: 0.03rem solid #ffffff;
}
.is-edit-space .delete-sprite {
    bottom: 100%;
    left: 100%;
    top: auto;
    margin-bottom: -1rem;
    margin-left: -1rem;
}
.is-edit-space .number {
    font-size: 0.75rem;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #32c5ff;
    line-height: 1.13rem;
}
.is-edit-space .edit-img {
    display: none;
}
