@import "../../css/colors.css";
@import "../../css/z-index.css";

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-loader;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffaea;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;

    /* backdrop-filter: blur(5px); */
}

.retry-content {
    position: absolute;
    bottom:1.94rem;
    font-size: 0.75rem;
    color:#32C5FF;
}

.retry-item {
    /* height: 2.69rem; */
    /* padding: 0 1.22rem; */
    /* background: #32c5ff; */
    /* border-radius: 1.25rem; */
    /* display: flex; */
    /* align-items: center;
    justify-content: space-around; */
}

.retry-content .common-a {
    text-decoration: none;
    border-bottom: 0.05rem solid;
    padding-bottom: 0.05rem;
    margin-left:0.3rem;
}

.retry-content .common-a:hover{
    cursor: pointer;
}
.retry-item .retry {
    margin-right:0.3rem;
}

/* .retry-content .back {
    margin-left:0.3rem;
    text-decoration: #32C5FF;
    text-decoration: underline;
} */

/* box-shadow+animate方法  */
.shadow-dot {
    display: inline-block;
    min-width: 4px;
    min-height: 4px;
    box-shadow: 4px 0 currentColor, 12px 0 currentColor, 20px 0 currentColor,
        28px 0 currentColor, 36px 0 currentColor, 44px 0 currentColor;
    -webkit-animation: shadow-dot 6s infinite step-start both;
    animation: shadow-dot 6s infinite step-start both;
    *zoom: expression(this.innerHTML= "......");
    /* IE7 */
}

.shadow-dot:before {
    content: "......";
}

/* IE8 */
.shadow-dot::before {
    content: "";
}

:root .shadow-dot {
    margin-right: 8px;
}

/* IE9+,FF,CH,OP,SF */
/* 
@-webkit-keyframes shadow-dot {
    25% {
        box-shadow: none;
    }

    50% {
        box-shadow: 2px 0 currentColor;
    }

    75% {
        box-shadow: 2px 0 currentColor, 6px 0 currentColor;
    }
} */

@keyframes shadow-dot {
    12.5% {
        box-shadow: none;
    }

    25% {
        box-shadow: 4px 0 currentColor;
    }

    37.5% {
        box-shadow: 4px 0 currentColor, 12px 0 currentColor;
    }

    50% {
        box-shadow: 4px 0 currentColor, 12px 0 currentColor, 20px 0 currentColor;
    }

    62.5% {
        box-shadow: 4px 0 currentColor, 12px 0 currentColor, 20px 0 currentColor,
            28px 0 currentColor;
    }

    75% {
        box-shadow: 4px 0 currentColor, 12px 0 currentColor, 20px 0 currentColor,
            28px 0 currentColor, 36px 0 currentColor;
    }
}

.load-bg-img {
    width: 14rem;
}

.loading-txt {
    color: purple;
    font-size: 30px;
}

.fullscreen {
    /* Break out of the layout using position: fixed to cover the whole screen */
    position: fixed;
    /* Use the fullscreen stage z-index to allow covering full-screen mode */
    z-index: $z-index-stage-wrapper-overlay;
}

.block-animation {
    width: 7.8125rem;
    height: 9.375rem;
    margin: 3.125rem auto 0rem;
}

.block-animation img {
    display: block;
    position: relative;
    height: 30%;
    margin-top: -4px;
}

.top-block {
    animation: top-slide-in 1.5s ease infinite;
}

.middle-block {
    animation: middle-slide-in 1.5s ease infinite;
}

.bottom-block {
    animation: bottom-slide-in 1.5s ease infinite;
}

[dir="rtl"] .top-block {
    animation: top-slide-in-rtl 1.5s ease infinite;
}

[dir="rtl"] .middle-block {
    animation: middle-slide-in-rtl 1.5s ease infinite;
}

[dir="rtl"] .bottom-block {
    animation: bottom-slide-in-rtl 1.5s ease infinite;
}

@keyframes top-slide-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    33% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes middle-slide-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    33% {
        transform: translateY(50px);
        opacity: 0;
    }

    66% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes bottom-slide-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    66% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes top-slide-in-rtl {
    0% {
        transform: translateY(50px) scaleX(-1);
        opacity: 0;
    }

    33% {
        transform: translateY(0px) scaleX(-1);
        opacity: 1;
    }

    100% {
        transform: translateY(0px) scaleX(-1);
        opacity: 1;
    }
}

@keyframes middle-slide-in-rtl {
    0% {
        transform: translateY(50px) scaleX(-1);
        opacity: 0;
    }

    33% {
        transform: translateY(50px) scaleX(-1);
        opacity: 0;
    }

    66% {
        transform: translateY(0px) scaleX(-1);
        opacity: 1;
    }

    100% {
        transform: translateY(0px) scaleX(-1);
        opacity: 1;
    }
}

@keyframes bottom-slide-in-rtl {
    0% {
        transform: translateY(50px) scaleX(-1);
        opacity: 0;
    }

    66% {
        transform: translateY(50px) scaleX(-1);
        opacity: 0;
    }

    100% {
        transform: translateY(0px) scaleX(-1);
        opacity: 1;
    }
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.75rem 0;
}

.message-container-outer {
    height: 30px;
    overflow: hidden;
}

.message-container-inner {
    transition: transform 0.5s;
}

.message {
    height: 20px;
    margin: 5px 0;
}

.loading-video {
    width: 15.81rem;
}
