.dir-btn {
    position: absolute;
    z-index: 100;
    text-align: center;
    cursor: pointer;
    width: 0.75rem;
    height: 0.59rem;
    left: 1.83rem;
}

.up-btn {
    top: 3.28rem;
}

.down-btn {
    display: none;
    bottom: 0.5rem;
}

:global(.blocklyFlyout) {
    transition: 0.3s;
}

:global(.blocklyFlyout).flyout-open {
    max-width: 15.5rem;
}

:global(.blocklyFlyout).flyout-close {
    display: block !important;
    pointer-events: none;
    opacity: 0 !important;
    z-index: 1;
    max-width: 4.59rem;
    transform: translate(0, 0) !important;
}
