@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.stage-wrapper {
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: center;
}
.stage-wrapper * {
    box-sizing: border-box;
}

.stage-canvas-wrapper {
    /* Hides negative space between edge of rounded corners + container, when selected */
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 22.31rem; */
    /* height: 39.69rem; */
}

.stage-wrapper.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-stage-wrapper-overlay;
    background-color: hsl(0deg 0% 0% / 30%);
    background: #000;
    backdrop-filter: blur(5px);
    padding: 0;

    /* this centers the stage */
    display: flex;
    flex-direction: column;
    align-items: center;
}
