@import "../../css/units.css";
@import "../../css/colors.css";

$header-height: calc($stage-menu-height - 0.125rem);

.stage-selector {
    box-sizing: border-box;
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* For the add backdrop button */
    flex-grow: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $text-primary;
    border-radius: $space;
    border-color: $ui-black-transparent;
    border-width: 1px;
    border-style: solid;
    border-bottom: 0;
    cursor: pointer;
    height: 5.5625rem;
    background: none;
    background-color: #9EE4FF;
    border: 0;
    margin: 0.72rem 0.44rem 0.72rem 0.44rem;
    margin-bottom: 0;
}

.stage-selector.is-selected {
    margin-left: 0rem;
    width: 5.25rem;
    height: 5.56rem;
    background: #E8F8FF;
    border-radius: 0.63rem 0rem 0rem 0.63rem;
    
}

.stage-selector:hover {
    border-color: $motion-primary;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $header-height;
    background-color: white;
    color: $text-primary;
    border-top-left-radius: $space;
    border-top-right-radius: $space;
    border-bottom: 1px solid $ui-black-transparent;
    width: 100%;
    transition: background-color 0.25s ease;

    display: none;
}

.header-title {
    font-size: 0.625rem;
    font-weight: bold;
    color: $text-primary;

    /* @todo: make this a mixin for all UI text labels */
    user-select: none;
    transition: color 0.25s ease;
}

.stage-selector.is-selected .header {
    background-color: $motion-primary;
}

.stage-selector.is-selected .header-title {
    color: $ui-white;
}

.count {
    padding: 0.3rem 0.75rem;
    font-size: 0.625rem;
    color: $text-primary;
    user-select: none;
}

.label {
    margin-top: 0.38rem;
    font-size: 1rem;
    user-select: none;
    text-align: center;

    /* margin: 0; */
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 4rem;
    color: #2671D0;
}

.costume-canvas {
    display: block;
    margin-top: 0.81rem;
    width: 100%;
    user-select: none;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0.25rem $ui-black-transparent;
    width: 2.75rem;
    height: 2.75rem;
    object-fit: cover;
}

.add-button {
    position: absolute;
    bottom: 0.75rem;

    display: none;
    bottom: auto;
    top: 41.875rem;
}

.raised,
.raised .header {
    background-color: $drop-highlight;
    transition: all 0.25s ease;
}

.raised:hover {
    transform: scale(1.05);
}

.receivedBlocks {
    animation: glowing 250ms;
}

@keyframes glowing {
    10% {
        box-shadow: 0 0 0.625rem #7fff1e;
    }
    90% {
        box-shadow: 0 0 0.625rem #7fff1e;
    }
    100% {
        box-shadow: none;
    }
}

.action-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: #008FFD;
    border-radius: 0.625rem;
}
.action-wrap > button {
    flex: 1;
    width: 50%;
    height: 1.75rem;
    background: none;
}

.action-wrap > button > img {
    display: block;
    width: 1em;
    height: 1em;
    margin: auto;
}


.edit-sprite {
    position: absolute;
    top: calc(50% - 0.44rem);
    right: 0.28rem;

}


.edit-img {
    width: 0.53rem;
    height: 0.88rem;
}