@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    /*
        For most things, we shouldn't explicitly set height, and let the
        content push the element to whatever fits. Using a fixed height
        instead, will help us subtract the value we assign from the body,
        adding up to a perfect 100%. This means we don't need to set
        overflow: hidden, which makes it hard to debug. border-box
        simplifies by all of this by removing padding from the equation.
    */
    box-sizing: border-box;
    height: $menu-bar-height;
    margin-bottom: 0.5rem;

    /*
        @todo: This adds ~1.25rem in Chrome, when scrolling to the right,
        but fixes [FFx + Safari] [resize window down + scroll to the right] bug.
        width: 100%;
    */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $menu-bar-standard-font-size;
    font-weight: bold;
    /* background-color: $ui-primary; */
    color: $ui-white;

    align-items: center;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
}

.scratch-logo {
    height: 1.6rem;
    vertical-align: middle;

    width: 9.75rem;
    height: 4.59375rem;
    position: relative;
    top: 0.625rem;
}

.scratch-logo.clickable {
    cursor: pointer;
}

.language-icon {
    height: 1.5rem;
    vertical-align: middle;
}

.language-caret {
    margin: 0 0.125rem;
}

.language-menu {
    box-sizing: border-box;
    display: inline-flex;
    width: $language-selector-width;
}

.menu-bar-item {
    display: flex;
    justify-content: center;
    padding: 0 0.25rem;
    text-decoration: none;
    background: none;
    color: $ui-white;
    user-select: none;
    align-self: center;
    position: relative;
    align-items: center;
    white-space: nowrap;
    height: $menu-bar-height;
}

.menu-bar-item.hoverable {
    cursor: pointer;
}

.menu-bar-item.active,
.menu-bar-item.hoverable:hover {
    background-color: #20a1f8;
}

.menu-bar-item.growable {
    max-width: $menu-bar-item-max-width;
    flex: 1;
}

.title-field-growable {
    flex-grow: 1;
    width: 2rem;
}

.file-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-group .menu-bar-item {
    padding: 0 0.75rem;
}

.menu-bar-item.language-menu {
    padding: 0 0.5rem;
}

.menu-bar-menu {
    margin-top: $menu-bar-height;
    z-index: $z-index-menu-bar;
}

.feedback-link {
    color: $motion-primary;
    text-decoration: none;
}

.feedback-button {
    background-color: $ui-white;
    height: 2.125rem;
}

.divider {
    margin: 0 0.5rem;
    height: 2.125rem;
}

.author-info {
    margin-left: 0.25rem;
    margin-right: 0.6875rem;
}

.menu-bar-button {
    height: $menu-bar-button-size;
}

.remix-button {
    background-color: $pen-primary;
}

.remix-button-icon {
    height: 1.25rem;
}

.coming-soon > :not(.coming-soon-tooltip) {
    opacity: 0.5;
}

.account-info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-info-group .menu-bar-item {
    padding: 0 0.75rem;
}

.mystuff-icon {
    margin: 0 0.25rem;
    height: 1rem;
}

.help-icon {
    margin-right: 0.35rem;
}

.account-nav-menu,
.mystuff-button {
    padding: 0 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-icon {
    margin: 0 0.25rem;
    width: $menu-bar-button-size;
    border-radius: $form-radius;
}

.dropdown-caret-icon {
    width: 0.5rem;
    height: 0.5rem;
}

[dir="ltr"] .dropdown-caret-icon {
    margin-left: 0.5rem;
}

[dir="rtl"] .dropdown-caret-icon {
    margin-right: 0.5rem;
}

.disabled {
    opacity: 0.5;
}

.mystuff > a {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    width: 1.875rem;
    overflow: hidden;
    text-indent: 3.125rem;
    white-space: nowrap;
}
.mystuff > a:hover {
    background-size: 50%;
}

.mystuff > a {
    background-image: url("/images/mystuff.png");
}

.about-icon {
    height: 1.25rem;
    margin: 0.5rem;
    vertical-align: middle;
}

/* == */
.icon {
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    vertical-align: middle;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.buttons button {
    margin-left: 1em;
}

.z-higher {
    z-index: 999999;
}

.sider-button {
    width: 3.75rem;
    height: 2.5rem;
    margin-right: -0.75rem;
    background: #00b6ff;
    border-radius: 0.63rem 0rem 0rem 0.63rem;
}
.sider-button::before {
    width: 0.88rem;
    height: 1.41rem;
    background: #ffffff;
    content: "";
    display: inline-block;
    background: center no-repeat url("../../assets/icons/sider_left.png");
    background-size: contain;
    margin-right: 0.94rem;
}

.toggleStage.isStageShow {
    background: #1ad1a8;
}
.toggleStage.isStageHidden {
    background: #9678ff;
}

.bluetoothButtonGroup {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    padding: 0 0.5rem;
    background: #0091ff;
    box-shadow: 0rem 0.06rem 0.25rem 0rem rgba(0, 0, 0, 0.21);
    border-radius: 0.63rem;

    font-size: 0.75rem;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.13rem;
}

.bluetoothButtonGroup i {
    width: 1rem;
    height: 1rem;
    margin-right: 0.1875rem;
}

.bluetoothDownload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.94rem;
    height: 1.75rem;
    margin-left: 0.25rem;
    margin-right: -0.5rem;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background: #15bdff;
}

.bluetoothButtonGroup:not(.online) {
    background: #c2c5c6;
    color: #ffffff;
}

.bluetoothButtonGroup:not(.online) .bluetoothDownload {
    display: none;
}
