html,
body,
.app {
    /* probably unecessary, transitional until layout is refactored */
    width: 100%;
    height: 100%;
    margin: 0;
}

/* @todo: move globally? Safe / side FX, for blocks particularly? */
* {
    box-sizing: border-box;
}

/* ================ */
html {
    background: #eee;
}
.app {
    /* max-width: 1440px; */
    /* max-height: 814px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 1px 20px 3px #a8a0c3;
}

/* ================ */
html {
    font-size: 16px;
}
// ja max 375: 375/266 * 1024
@media all and (max-width: 1443px) {
    html {
        font-size: calc(100vw / (1024 / 16));
    }
}
@media all and (max-height: 1080px) {
    html {
        font-size: calc(100vh / (768 / 16));
    }
}

/* ================ */
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

[hidden] {
    display: none !important;
}

input[type="text"] {
    appearance: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}
button:active {
    transform: scale(0.95);
    opacity: 0.8;
    transition: 0;
}
button:not(:active) {
    transition: 0.3s;
}

/* ================ */
:global(.Popover-body) {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 8px 0 #888;
}
:global(.Popover-tipShape) {
    fill: #fff;
}

/* TODO 临时隐藏绿旗 */
:global(.injectionDiv)
    [data-shapes="hat"]
    > g
    > image[width="24px"][height="24px"]:first-child:last-child {
    opacity: 0;
}
