html,
body,
.app {
    /* probably unecessary, transitional until layout is refactored */
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    height: calc(var(--window-height) * 1px);

    margin: 0;
}

/* @todo: move globally? Safe / side FX, for blocks particularly? */
* {
    box-sizing: border-box;
}

/* ================ */
html {
    background: #eee;
    transition: none;
    box-sizing: content-box;
}
@media all {
    html {
        font-size: 16px;
        font-size: calc(100vh / (768 / 16));
        font-size: calc(var(--window-height) * 1px / (768 / 16));
    }
}
@media screen and (max-height: 768px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-height: 640px) {
    html {
        font-size: calc(var(--window-height) * 1px / (375 / 12));
    }
}

/* ================ */
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

[hidden] {
    display: none !important;
}

input[type="text"] {
    appearance: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}
button:active {
    transform: scale(0.95);
    opacity: 0.8;
    transition: 0;
}
button:not(:active) {
    transition: 0.3s;
}

/* ================ */

/* Popover */
:global(.Popover-above) {
    z-index: 20;
}
:global(.Popover-body) {
    background: #0091ff;
    border-radius: 0.55rem;
    box-shadow: 0 3px 8px 0 #888;
}
:global(.Popover-tipShape) {
    fill: #0091ff;
}

/* TODO 临时隐藏绿旗 */
:global(.injectionDiv)
    [data-shapes="hat"]
    > g
    > image[width="24px"][height="24px"]:first-child:last-child {
    opacity: 0;
}

/* paint-editor */
div[class*="paint-editor_editor-container-top"] {
    margin-top: 2rem;
    margin-right: -10rem;
    transform: scale(0.85);
    transform-origin: top left;
}
div[class*="paint-editor_top-align-row"] {
    min-width: 20rem;
}
div[class*="paint-editor_canvas-container"] {
    min-width: 20rem;
}
div [class*="paint-editor_canvas-control"] {
}
div[role="button"][class*="tool-select-base_is-selected"] {
    background-color: #32c5ff;
}

span[class*="paint-editor_bitmap-button"] {
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    padding-top: 0;
    padding-bottom: 0;
    background: #32c5ff;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-family: SourceHanSansCN-Normal, SourceHanSansCN;
    font-weight: 400;
    color: #ffffff;
}
span[class*="paint-editor_bitmap-button"] img {
    display: none;
}

/* scratchCommentTextarea */

body[class*="blocklyMinimalBody"] {
    background: transparent;
    color: #ffffff;
}
textarea[class*="scratchCommentTextarea"] {
    font-size: 1.4rem;
    background-color: transparent;
    color: #ffffff;
}

rect[class*="scratchCommentRect"] {
    fill: #00b6ff;
    stroke: #ffffff;
    stroke-width: 0.09rem;
    rx: 15;
    ry: 15;
    filter: drop-shadow(0px 0px 2px #32c5ff);
}

rect[class*="scratchCommentTopBar"] {
    fill-opacity: 0;
}

foreignObject[class*="scratchCommentForeignObject"] {
    background: #76cbff;
    border-bottom-left-radius: 0.66rem;
}

g[class*="blocklyBubbleCanvas"] line {
    /* stroke: #32C5FF; */
}

g[class*="scratchCommentResizeSE"] {
    fill: #ffffff;
}

rect[class*="scratchCommentTopBar"] ~ text[class*="scratchCommentText"] {
    font-size: 0;
}

textarea[class*="scratchCommentTextarea"]::-webkit-input-placeholder {
    /* WebKit browsers*/
    color: #ffffff;
    font-style: normal;
}
textarea[class*="scratchCommentTextarea"]:-moz-placeholder {
    /* Mozilla Firefox 4 to 18*/
    color: #ffffff;
    font-style: normal;
}
textarea[class*="scratchCommentTextarea"]:-moz-placeholder {
    /* Mozilla Firefox 19+*/
    color: #ffffff;
    font-style: normal;
}
textarea[class*="scratchCommentTextarea"]:-ms-input-placeholder {
    /* Internet Explorer 10+*/
    color: #ffffff;
    font-style: normal;
}
