<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
        />
        <meta name="google" value="notranslate" />
        <link rel="shortcut icon" href="static/favicon.ico" />
        <title>豌豆编程</title>

        <script>
            var version = <%= htmlWebpackPlugin.options.version %>
        </script>
        <!-- arms -->
        <script>
            // prettier-ignore
            !(function (isOpen) {
                var getEnv = function () {
                    if (/\b(base=uat)\b/.test(location)) return "pre"
                    if (/\/uat\/|\/uat-/.test(location)) return "pre";

                    if (/^https?:\/\/(1|localhost)/.test(location)) return "local"

                    return "prod";
                }
                var env = getEnv()

                if (/^(local)$/.test(env)) {
                    isOpen = false
                }

                if (!isOpen) return;
                window.__bl = {
                    config: {
                        pid: "gkyqs22ip2@a43327012ba9615",
                        appType: "web",
                        imgUrl: "https://arms-retcode.aliyuncs.com/r.png?",
                        sendResource: true,
                        enableLinkTrace: true,
                        behavior: true,
                        enableConsole: true,
                        release: window.version,
                        environment: env
                    }
                };
                var script = document.createElement("script");
                script.src = "https://retcode.alicdn.com/retcode/bl.js";
                script.crossOrigin = true;
                document.getElementsByTagName("head")[0].appendChild(script);
            })(true);
        </script>

        <!-- console.js -->
        <script>
            // prettier-ignore
            function loadConsole() {
                if (loadConsole.yes) return;
                loadConsole.yes = true;

                var src =
                    "https://cdn.jsdelivr.net/gh/wusfen/console.js@master/dist/console.js";
                if (document.readyState == "complete") {
                    var script = document.createElement("script");
                    script.src = src;
                    document.body.appendChild(script);
                } else {
                    document.write("<script src=" + src + "><\/script>");
                }

                setTimeout(function () {
                    console.log("tools =>", {
                        exitEditor: function () {
                            bridge.emit("exitEditor");
                        }
                    });
                }, 300);
            }

            if ("ontouchstart" in window) {
                if (/\/(dev|uat)\/|[?&#]f12\b/.test(location)) {
                    loadConsole();
                    console.f12 = 1;
                }
                if (localStorage.f12 || sessionStorage.f12) {
                    loadConsole();
                    console.f12 = 1;
                }
            }

            addEventListener("touchstart", function (e) {
                if (e.touches && e.touches.length === 9) {
                    loadConsole();
                    console.f12 = 1;
                    sessionStorage.f12 = 1;
                }
            });
        </script>

        <script>
            // arrayBuffer polyfill
            (function () {
                File.prototype.arrayBuffer =
                    File.prototype.arrayBuffer || myArrayBuffer;
                Blob.prototype.arrayBuffer =
                    Blob.prototype.arrayBuffer || myArrayBuffer;

                function myArrayBuffer() {
                    var blob = this;
                    return new Promise(function (resolve) {
                        let fr = new FileReader();
                        fr.onload = function (e) {
                            resolve(fr.result);
                        };
                        fr.readAsArrayBuffer(blob);
                    });
                }
            })();
        </script>
    </head>

    <body></body>
</html>
