@import "./index.css";

body {
    margin: 0px;
}

.stage-only {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.stage-only * {
    box-sizing: border-box;
}

.stage-only [class*="stage-canvas-wrapper"] {
    width: 100vw;
    height: 100vh;
}

.stage-only [class*="stage-header-wrapper"] {
    position: fixed;
    top: 0;
    right: 0rem;
}
.stage-only [class*="_stage-menu-wrapper"] {
    margin: 0.5rem;
}
.stage-only [class*="_stage-menu-wrapper"] button {
    border-radius: 99px;
}

/*.stage-only [class*="stage-wrapper"] {
    overflow: hidden !important;
    width: 100vw !important;
    height: 100vh !important;
}*/

.stage-only [class*="stage"] {
    overflow: initial;
}

/*.stage-only [class*="stage"] canvas {
    width: 100vw !important;
    height: 100vh !important;
}*/

.stage-only [class*="green-flag-overlay"] img {
    content: url("./start.svg");
    padding-left: 0.6rem;
    width: 3.5rem;
    height: 3.5rem;
}

.bnt-mrg-right [class*="stage-header-wrapper"] {
    right: 4rem;
}
