[class*="delete-sprite"] {
    opacity: 0;
}
[class*="blingBling"]:before,
[class*="blingBling"]:after {
    visibility: hidden;
}

[src*="static/assets/audio.svg"] {
    opacity: 0;
}
[src*="static/assets/tip.svg"] {
    opacity: 0;
}

[class*="asidebtn-menu_undo"],
[class*="asidebtn-menu_redo"] {
    opacity: 0;
}
