.button {
    position: absolute;
    top: 0rem;
    left: 17.5rem;
    z-index: 42;
    background: center/contain no-repeat url("../../assets/icons/pin.svg");
    width: 1.84rem;
    height: 2.41rem;
    color: transparent;
    transform: rotateX(30deg);
}

.button.autoClose {
    transform: rotate(45deg);
}
