@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 25rem;
    height: 16.25rem;
    background: #EAF7FF;
    box-shadow: 0rem 0.03rem 0.44rem 0rem #32C5FF;
    border-radius: 1.25rem;
    border: none;
    overflow: visible;
}

.body {
    padding: 2.5rem 1.91rem 0 1.91rem;
}

.body input[type="checkbox"],
.body input[type="radio"] {
    margin: 3px;
}

.label {
    font-weight: 400;
    margin: 0 0 0.75rem;
    font-size: 0.75rem;
    color: #0091FF;
    line-height: 0.75rem;
}

.rlabel {
    margin-left: 1.94rem;
}

.disabled-label {
    opacity: 0.5;
}

.variable-name-text-input {
    width: 21.19rem;
    height: 2.75rem;
    background: #FFFFFF;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #515559;
    padding: 0 0.69rem;
}

.info-message {
    font-weight: normal;
    font-size: .875rem;
    text-align: center;
    margin-top: 1.28rem;
    height: 2.7rem;
}

.options-row {
    display: block;
    justify-content: space-between;
    margin-top: 1.28rem;
    height: 2.7rem;
    font-size: 0.75rem;
    color: #515559;
    font-weight: 400;
}

.button-row {
    font-weight: bolder;
    text-align: center;
    margin-top: 1.5rem;
}

.button-row button {
    /* padding: 0.75rem 1rem; */
    border-radius: 0.25rem;   
    color: white;
    font-weight: 500;
    font-size: 1rem;
    width: 6.56rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #0091FF;
    box-shadow: 0rem 0.03rem 0.66rem 0rem #0582e0;
    border-radius: 0.63rem;
}

.button-row button.ok-button {
    /* background: $motion-primary;
    border: $motion-primary; */
    width: 6.56rem;
    height: 2.5rem;
    background: #ff457f;
    -webkit-box-shadow: 0rem 1px 0.25rem 0rem rgb(0 0 0 / 33%), inset 0rem 1px 0.75rem 0rem rgb(255 176 200);
    box-shadow: 0rem 1px 0.25rem 0rem rgb(0 0 0 / 33%), inset 0rem 1px 0.75rem 0rem rgb(255 176 200);
    border-radius: 0.63rem;
}

[dir="ltr"] .button-row button + button {
    margin-left: 1.25rem;
}

[dir="rtl"] .button-row button + button {
    margin-right: 0.5rem;
}

.cloud-option {
    display:flex;
    border-top: 1px dashed hsla(0, 0%, 0%, .25);
    overflow: visible;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.cloud-option-text {
    opacity: .5;
}

.input-box {
    display: inline-block;
    width: 1.38rem;
    height: 1.38rem;
    background: #FFFFFF;
    margin-right: 0.5rem;
    position: relative;
    vertical-align: middle;
    border-radius: 100%;
}
.input-box input {
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:100;/*使input按钮在span的上一层，不加点击区域会出现不灵敏*/
}
.input-box span { 
    display: block;
    width: 0.88rem;
    height: 0.88rem;
    background: #FA6400;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left:50%;
    margin: -0.45rem 0 0 -0.6em;
    z-index:1;
}
input[type="radio"] + span {
    opacity: 0;
}
input[type="radio"]:checked + span {
    opacity: 1;
}
