@import "../../css/units.css";
@import "../../css/colors.css";

.wrapper {
    display: flex;
    flex-grow: 1;
    /* border: 1px solid $ui-black-transparent; */
    /* background: white; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;

    background: $ui-primary;
    color: $text-primary;
}

[dir="ltr"] .wrapper {
    border-top-right-radius: $space;
    border-bottom-right-radius: $space;
}

[dir="rtl"] .wrapper {
    border-top-left-radius: $space;
    border-bottom-left-radius: $space;
}

.detail-area {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: visible;
    background: #ffffff;
    box-shadow: 0px 1px 9px 0px rgb(0 0 0 / 18%);
    border-radius: 0 1.25rem 1.25rem 0;
}

[dir="ltr"] .detail-area {
    border-left: 1px solid $ui-black-transparent;
}

[dir="rtl"] .detail-area {
    border-right: 1px solid $ui-black-transparent;
}

.wrapper [class*="canvas-container"] {
    border: none;
}

.wrapper [class*="scrollbar-wrapper"] {
    opacity: 0.48;
}
