@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.wrapper {
    display: flex;
    flex-grow: 1;
    /* border: 1px solid $ui-black-transparent; */
    /* background: white; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;

    background: $ui-primary;
    color: $text-primary;

}

@media screen and (max-height: $mobile-max-height) {
    .wrapper{
      /* display: none; */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-index-modal;
      background: #e8f8ff;
      padding-left: calc(env(safe-area-inset-left, 20px) * 0.5);
    }
}

[dir="ltr"] .wrapper {
    border-top-right-radius: $space;
    border-bottom-right-radius: $space;
}

[dir="rtl"] .wrapper {
    border-top-left-radius: $space;
    border-bottom-left-radius: $space;
}

.detail-area {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: visible;
    background: #ffffff;
    box-shadow: 0px 1px 9px 0px rgb(0 0 0 / 18%);
    border-radius: 0 0.63rem 0 0;
}

[dir="ltr"] .detail-area {
    border-left: 1px solid $ui-black-transparent;
}

[dir="rtl"] .detail-area {
    border-right: 1px solid $ui-black-transparent;
}

.wrapper [class*="canvas-container"] {
    border: none;
}

.wrapper [class*="scrollbar-wrapper"] {
    opacity: 0.48;
}

.close-btn {
    position: absolute;
    width: 1.81rem;
    right: -0.1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media screen and (max-height: $mobile-max-height) {
    .close-btn {
        position: relative;
        width: 2rem;
        height: 2rem;
        left: 1rem;
        top: 1rem;
        margin-right: 1rem;
        content:url('../close-button/close-icon-blue.png');
        order: -1;
        transform:none;
    }
}