.overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.container {
    position: relative;
    width: 43.75rem;
    height: 37.5rem;
    background: #eaf7ff;
    border-radius: 1.25rem;
}

.li {
    display: flex;
    align-items: center;
    margin-bottom: 0.31rem;
}

.tips {
    position: absolute;
    left: 15.25rem;
    top: 33.72rem;
    width: 17.5rem;
    height: 2.25rem;
    font-size: 0.75rem;
    font-family: SourceHanSansCN-Normal, SourceHanSansCN;
    font-weight: 400;
    color: #0091ff;
    line-height: 1.13rem;
}

.type-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.13rem;
    height: 1.5rem;
    background: #77d9ff;
    border-radius: 0.63rem;
    font-size: 1rem;
    font-family: SourceHanSansCN-Normal, SourceHanSansCN;
    font-weight: 400;
    color: #007eff;
    text-align: center;
    cursor: pointer;
}

.type-btn-sel {
    background: #0091ff;
    color: #ffffff;
}

.code-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: SourceHanSansCN-Normal, SourceHanSansCN;
    font-weight: 400;
    color: #0091ff;
    margin: 0.6rem 1.2rem;
    cursor: pointer;
}

.type-list-container {
    position: absolute;
    top: 4.75rem;
    left: 3.16rem;
    height: 28.38rem;
}

.select-all {
    display: flex;
    align-items: center;
    color: #007eff;
    cursor: pointer;
}

.code-list-container {
    position: absolute;
    top: 4.78rem;
    left: 15.19rem;
    width: 27.13rem;
    height: 28.38rem;
    background: #ffffff;
    border-radius: 0.63rem;
    overflow: scroll;
}

.title {
    font-size: 1.44rem;
    font-family: SourceHanSansCN-Bold, SourceHanSansCN;
    color: #0091ff;
    line-height: 2.16rem;
    text-align: center;
    margin-top: 1.75rem;
}

.close {
    position: absolute;
    right: 0;
    top: -1.75rem;
    width: 1.38rem;
    height: 1.38rem;
    background: center/contain no-repeat url("./img/close.svg");
    color: transparent;
}

.button {
    width: 6.56rem;
    height: 2.5rem;
    background: #ff457f;
    box-shadow: 0rem 0.06rem 0.25rem 0rem rgba(0, 0, 0, 0.33),
        0rem 0.03rem 0.75rem 0rem #ffb0c8;
    border-radius: 0.63rem;
    position: absolute;
    top: 34.09rem;
    left: 35.75rem;
    font-size: 1rem;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5rem;
}

.container input[type="checkbox"] {
    appearance: none;
    outline: none;
    width: 1.38rem;
    height: 1.38rem;
    margin-right: 0.44rem;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    position: relative;
}
.container input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    height: 100%;
    border: 0.06rem solid #0091ff;
    border-radius: 0.31rem;
}

.container input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: #32c5ff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #32c5ff;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
}
