@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.blocks {
    height: 100%;
}

.drag-over:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: $drop-highlight;
    transition: all 0.25s ease;
}

.blocks :global(.injectionDiv) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $ui-black-transparent;
    border-top-right-radius: $space;
    border-bottom-right-radius: $space;
}

[dir="rtl"] .blocks :global(.injectionDiv) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: $space;
    border-bottom-left-radius: $space;
}

.blocks :global(.blocklyMainBackground) {
    stroke: none;
}

.blocks :global(.blocklyToolboxDiv) {
    border-right: 1px solid $ui-black-transparent;
    border-bottom: 1px solid $ui-black-transparent;
    box-sizing: content-box;
    /* height: calc(100% - 3.25rem) !important; */

    /*
        For now, the layout cannot support scrollbars in the category menu.
        The line below works for Edge, the `::-webkit-scrollbar` line
        below that is for webkit browsers. It isn't possible to do the
        same for Firefox, so a different solution may be needed for them.
    */
    -ms-overflow-style: none;

    background: #fffefa;
}

[dir="rtl"] .blocks :global(.blocklyToolboxDiv) {
    border-right: none;
    border-left: 1px solid $ui-black-transparent;
}

.blocks :global(.blocklyToolboxDiv::-webkit-scrollbar) {
    display: none;
}

.blocks :global(.blocklyFlyout) {
    border-right: 1px solid $ui-black-transparent;
    box-sizing: content-box;
}

[dir="rtl"] .blocks :global(.blocklyFlyout) {
    border-right: none;
    border-left: 1px solid $ui-black-transparent;
}

.blocks :global(.blocklyBlockDragSurface) {
    /*
        Fix an issue where the drag surface was preventing hover events for sharing blocks.
        This does not prevent user interaction on the blocks themselves.
    */
    pointer-events: none;
    z-index: $z-index-drag-layer; /* make blocks match gui drag layer */
}

/*
    Shrink category font to fit "My Blocks" for now.
    Probably will need different solutions for language support later, so
    make the change here instead of in scratch-blocks.
*/
.blocks :global(.scratchCategoryMenuItemLabel) {
    font-size: 1rem;
    line-height: 1.13rem;
    color: #2671d0;
}

.blocks :global(.blocklyMinimalBody) {
    min-width: auto;
    min-height: auto;
}

/* ======================================== */

.blocks :global(.injectionDiv) {
    background: #fffdf7;
    /* box-shadow: inset 0 1px 0.4375rem 0 #32c5ff; */
    border-radius: 0 0.56rem 0 0;
    border: 0;
}

.blocks :global(.injectionDiv):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0af0;
    box-shadow: inset -4px 4px 6px -5px rgba(50, 197, 255, 0.75);
    z-index: 99;
    pointer-events: none;
}

.blocks :global(.blocklyToolboxDiv) {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* width: 4.375rem; */
    width: 4.59rem;
    height: auto;
    /* padding-top: 2.25rem; */
    padding-bottom: 4.375rem;
    border: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    /* box-shadow: 1px 0 0.4375rem #e6c8ff; */
    border-right: solid 0.1rem #ddf4fb;
    padding: 0 0.38rem;
}

.blocks :global(.scratchCategoryMenu) {
    width: 100%;
    background: none;
    margin-top: 0.625rem;
    border-bottom: dotted 0.05rem #79bcff;
    height: 40rem;
    overflow: scroll;
}

.blocks :global(.scratchCategoryMenuRow) {
    width: 3.69rem;
    height: 4.625rem;
    margin: 0 auto;
}
.blocks :global(.scratchCategoryMenuItem) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background: #e8f8ff; */
    border-radius: 0.44rem;
}
.blocks :global(.categorySelected) {
    background: #e8f8ff;
}

.blocks :global(.blocklyFlyout) {
    /* overflow: visible; */
    /* max-width: 320px; */
    width: 16rem;
    z-index: 41;
    /* transform: translate(calc(4.375rem - 1px), 0rem) !important; */
    transform: translate(calc(4.59rem - 1px), 0rem) !important;
    border: 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0.11rem 0rem 0.31rem 0rem rgba(0, 0, 0, 0.13);
    border-radius: 0rem 0.56rem 0.56rem 0rem;
    backdrop-filter: blur(5px);
}
@supports (backdrop-filter: blur(5px)) {
    .blocks :global(.blocklyFlyout) {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
    }
}

.blocks :global(.blocklyFlyoutBackground) {
    fill-opacity: 0;
    pointer-events: none;
}

.blocks :global(.blocklyFlyoutLabel) {
}

.blocks :global(.blocklyFlyoutLabelText) {
    /* font-size: 0.78rem; */
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #aaacae;
    fill: currentColor;
    /* line-height: 1.17rem; */
}

/* 在代码栏中的初始大小不变，只是拖出来之后才自动放大 */
.blocks :global(.blocklyFlyout) :global(.blocklyText) {
    font-size: 13.5pt;
}
.blocks :global(.blocklyText) {
    font-size: 15pt;
}

.blocks :global(.blocklyMainWorkspaceScrollbar) {
}

.blocks
    :global(.blocklyMainWorkspaceScrollbar.blocklyScrollbarVertical)
    :global(.blocklyScrollbarHandle) {
    fill: $ui-primary;
    opacity: 0.25;
    width: 0.25rem;
    x: 4.5;
}

.blocks
    :global(.blocklyMainWorkspaceScrollbar.blocklyScrollbarHorizontal)
    :global(.blocklyScrollbarHandle) {
    fill: $ui-primary;
    opacity: 0.25;
    height: 0.25rem;
    y: 4.5;
}

.blocks :global(.blocklyFlyoutScrollbar) {
    display: none;
}

.blocks :global(.blocklyFlyoutScrollbar) {
    transform: translate(19.28125rem, 0.15625rem) !important;
}

.blocks :global(.blocklySvg) {
    background: none;
}

.blocks :global(.blocklySvg) :global(.blocklyBlockCanvas) {
    /* transition: 0.3s; */
}

.blocks :global(.blocklyZoom) {
    opacity: 0.25;
}

.blocks :global(.scratchCategoryMenuItem) {
    padding: 0.1rem 0 0 0;
}

.blocks :global(.scratchCategoryItemIcon) {
    height: 2.75rem;
    width: 2.75rem;
    height: 2.3rem;
    width: 2.3rem;
    background-size: 100% 100%;
}

.trashcan-init-style {
    display: none;
    width: 4.56rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* border-radius: 1.25rem 0rem 0rem 1.25rem; */
    top: 0;
    left: 0;
    position: relative;
    z-index: 800;
}

/* .trashcan-init-style:hover .trashcan-img {
   display: block;
}
.trashcan-init-style:hover .trash-img {
   display: none;
 } */

.trashcan-img {
    display: none;
    position: absolute;
    width: 2.09rem;
    height: 2.25rem;
    left: 1.13rem;
    bottom: 1.63rem;
    z-index: 810;
}

.trash-img {
    position: absolute;
    width: 2.09rem;
    height: 2.25rem;
    left: 1.13rem;
    bottom: 1.63rem;
    z-index: 810;
}
