@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.blocks {
    height: 100%;
}

.drag-over:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: $drop-highlight;
    transition: all 0.25s ease;
}

.blocks :global(.injectionDiv) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $ui-black-transparent;
    border-top-right-radius: $space;
    border-bottom-right-radius: $space;
}

[dir="rtl"] .blocks :global(.injectionDiv) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: $space;
    border-bottom-left-radius: $space;
}

.blocks :global(.blocklyMainBackground) {
    stroke: none;
}

.blocks :global(.blocklyToolboxDiv) {
    border-right: 1px solid $ui-black-transparent;
    border-bottom: 1px solid $ui-black-transparent;
    box-sizing: content-box;
    /* height: calc(100% - 3.25rem) !important; */

    /*
        For now, the layout cannot support scrollbars in the category menu.
        The line below works for Edge, the `::-webkit-scrollbar` line
        below that is for webkit browsers. It isn't possible to do the
        same for Firefox, so a different solution may be needed for them.
    */
    -ms-overflow-style: none;

    background: #f1e0ff;
}

[dir="rtl"] .blocks :global(.blocklyToolboxDiv) {
    border-right: none;
    border-left: 1px solid $ui-black-transparent;
}

.blocks :global(.blocklyToolboxDiv::-webkit-scrollbar) {
    display: none;
}

.blocks :global(.blocklyFlyout) {
    border-right: 1px solid $ui-black-transparent;
    box-sizing: content-box;
}

[dir="rtl"] .blocks :global(.blocklyFlyout) {
    border-right: none;
    border-left: 1px solid $ui-black-transparent;
}

.blocks :global(.blocklyBlockDragSurface) {
    /*
        Fix an issue where the drag surface was preventing hover events for sharing blocks.
        This does not prevent user interaction on the blocks themselves.
    */
    pointer-events: none;
    z-index: $z-index-drag-layer; /* make blocks match gui drag layer */
}

/*
    Shrink category font to fit "My Blocks" for now.
    Probably will need different solutions for language support later, so
    make the change here instead of in scratch-blocks.
*/
.blocks :global(.scratchCategoryMenuItemLabel) {
    font-size: 0.75rem;
    line-height: 1.13rem;
    color: #6D57DC;
}

.blocks :global(.blocklyMinimalBody) {
    min-width: auto;
    min-height: auto;
}

/* ======================================== */

.blocks :global(.injectionDiv) {
    background: #f1e0ff;
    box-shadow: inset 0 1px 0.4375rem 0 #d096ff;
    border-radius: 1.25rem;
    border: 0;
}

.blocks :global(.blocklyToolboxDiv) {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4.375rem;
    height: auto;
    padding-top: 1.25rem;
    padding-bottom: 4.375rem;
    border: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.blocks :global(.scratchCategoryMenu) {
    width: 100%;
    background: none;
}

.blocks :global(.scratchCategoryMenuRow) {
    height: 3.75rem;
    margin-top: 0.85rem;
}

.blocks :global(.blocklyFlyout) {
    border: 0;
    background: #ffffff;
    box-shadow: 0 1px 0.5625rem 0 rgba(0, 0, 0, 0.18);
    border-radius: 0 1.25rem 1.25rem 0;
    transform: translate(4.125rem, 0rem) !important;
    width: 15.625rem;
}

.blocks :global(.blocklyFlyoutBackground) {
    fill-opacity: 0;
    pointer-events: none;
}

.blocks :global(.blocklyFlyoutLabel) {
    display: none;
}

.blocks :global(.blocklyMainWorkspaceScrollbar) {
}

.blocks
    :global(.blocklyMainWorkspaceScrollbar.blocklyScrollbarVertical)
    :global(.blocklyScrollbarHandle) {
    fill: $ui-primary;
    opacity: 0.25;
    width: 0.25rem;
    x: 8.5;
}

.blocks
    :global(.blocklyMainWorkspaceScrollbar.blocklyScrollbarHorizontal)
    :global(.blocklyScrollbarHandle) {
    fill: $ui-primary;
    opacity: 0.25;
    height: 0.25rem;
    y: 8.5;
}

.blocks :global(.blocklyFlyoutScrollbar) {
    display: none;
}

.blocks :global(.blocklyFlyoutScrollbar) {
    transform: translate(19.28125rem, 0.15625rem) !important;
}

.blocks :global(.categorySelected) {
    background: #fff;
}

.blocks :global(.blocklySvg) {
    background: none;
}

.blocks :global(.blocklySvg) g * {
    /* transition: 0.5s; */
}

.blocks :global(.blocklyZoom) {
    opacity: 0.25;
}

.blocks :global(.scratchCategoryMenuItem) {
    padding: 0.1rem 0 0 0;
}

.blocks :global(.scratchCategoryItemIcon) {
    height: 2.75rem;
    width: 2.75rem;
    background-size: 100% 100%;
}
