@import "../../css/units.css";

.controls-container {
    display: flex;
    margin-left: auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 6.5625rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #ff457f;
    box-shadow: 0 1px 0.25rem 0 rgba(0, 0, 0, 0.33),
        inset 0 1px 0.75rem 0 #ffb0c8;
    border: 0;
    border-radius: 0.625rem;
    font-family: SourceHanSansCN-Medium;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    outline: 0;
}
.button.stop {
    background: #00b6ff;
    color: #ffffff;
    box-shadow: none;
}

.button img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}
.button.stop img {
    transform: scale(1.25);
}

.skip-button {
    margin-right: 0.5rem;
    min-width: 5rem;
    background: #32c5ff;
    box-shadow: none;
}

@media screen and (max-height: $mobile-max-height) {
    .button {
        min-width: 4.5rem;
        height: 1.75rem;
        line-height: 1.75rem;
    }
    .button img {
        width: 1rem;
        height: 1rem;
        margin-right: 0.125rem;
    }
}
