@import "../../css/units.css";
@import "../../css/colors.css";

.sprite-info {
    padding: 0.38rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: #FFFEFA; */
    color: $ui-white;
    /* border-top-left-radius: $space; */
    /* border-top-right-radius: $space; */
    /* border-bottom: 1px solid $ui-black-transparent; */

    border-bottom: solid #fff calc( env(safe-area-inset-bottom, 20px) * 0.4);
}

.row {
    display: flex;
    /* justify-content: space-between; */
    align-item: center;
}

.row-primary {
    margin-bottom: 0.5rem;
}

.label { opacity: 0.8; }

.group {
    color: #32C5FF;
    display: flex;
    flex-direction: row; /* makes columns, for each label/form group */
    align-items: center;
    font-size: 0.75rem;
}

.column {
    display: inline-flex;
    flex-direction: column; /* put label above input */
    align-items: flex-start;
}

.column span {
    margin-bottom: .25rem;
}

.icon-wrapper-abs
{
    position:absolute;
    display: inline-block;
    width: 0.88rem;
    height: 0.88rem;
    margin-left: 0.4rem;
    outline: none;
    user-select: none;
}

.icon-wrapper {
    display: inline-block;
    width: calc(2rem + .125rem);
    height: calc(2rem + .125rem);
    padding: 0.5rem;
    outline: none;
    user-select: none;
}

.icon {
    width: 100%;
    height: 100%;
}

/* @todo: refactor radio divs to input */
.radio-wrapper {
    white-space: nowrap; /* make sure visibilty buttons don't wrap */
}

.radio {
    filter: saturate(0);
    cursor: pointer;
}
.radio.is-active {
    filter: none;
}
.radio.is-disabled {
    cursor: default;
}

.radio-first {
    border: 1px solid $ui-black-transparent;
}

[dir="ltr"] .radio-first {
    border-top-left-radius: $form-radius;
    border-bottom-left-radius: $form-radius;
}

[dir="rtl"] .radio-first {
    border-top-right-radius: $form-radius;
    border-bottom-right-radius: $form-radius;
}

.radio-first:focus {
    border-color: $motion-primary;
    box-shadow: inset 0 0 0 -0.125rem $ui-black-transparent;
}

.radio-last {
    border-bottom: 1px solid $ui-black-transparent;
    border-top: 1px solid $ui-black-transparent;
}

[dir="ltr"] .radio-last {
    border-right: 1px solid $ui-black-transparent;
    border-left: 1px solid $ui-black-transparent;
    border-top-right-radius: $form-radius;
    border-bottom-right-radius: $form-radius;
}

[dir="rtl"] .radio-last {
    border-left: 1px solid $ui-black-transparent;
    border-right: 1px solid $ui-black-transparent;
    border-top-left-radius: $form-radius;
    border-bottom-left-radius: $form-radius;
}

.radio-last:focus {
    border-color: $motion-primary;
    box-shadow: inset 0 0 0 -0.125rem $ui-black-transparent;
}

.icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.rotation-select {
    width: 100%;
    height: 1.85rem;
    border: 1px solid $ui-black-transparent;
    user-select: none;
    outline: none;
}

.rotation-select:focus {
    border-color: $motion-primary;
    box-shadow: inset 0 0 0 1px $ui-black-transparent);
}

.larger-input input {
    width: 4rem;
}

.sprite-input {
    width: 5rem;
}

.small-input {
    width: 2.5rem !important;
}

.new-input {
    height: 1.38rem;
    border-radius: 0.5rem;
    border: 1px solid #32C5FF;
    color: #32C5FF;
    background: none;
    font-size: 0.75rem;
    padding: 0;
    text-align: center !important;
    display: flex;
    justify-content: center;
}

.row > .group{
    /* flex: 1; */
}

.row{
    margin-left: -0.1875rem;
    margin-right: -0.1875rem;
    /* margin-bottom: .375rem; */
}
.row > *{
    margin: 0 .1875rem;
}

.group input{
    text-align: right;
}

.icon-wrap{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    background: #00B6FF;
    border-radius: .625rem;
}

.title {
    margin: 0 0.44rem;
}

.more-func {
    flex: 1;
    position: relative;
}

.more-func .more {
    position: absolute;
    right: 0.78rem;
    width: 2.5rem;
    height: 1.38rem;
    background: #32C5FF;
    border-radius: 0.5rem;
    line-height: 1.38rem;
    text-align: center;
}

.more-func .more img {
    width: 1.34rem;
    height: 0.31rem;
}

.more-content {
    box-sizing: border-box;
    position: absolute;
    bottom: 2.3rem;
    right: 0.8rem;
    min-width: 7.63rem;
    background: rgba(50, 197, 255, 0.9);
    border-radius: 0.63rem;
    color: #FFFFFF;
    z-index: 9999;
    /* transition: height 1s ease-out; */
}

.more-content::after {
    content: '';
    width: 0;
    height: 0;
    border: 1rem;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid rgba(50, 197, 255, 0.9);
    position: absolute;
    bottom: -0.4rem;
    right: 1rem;
}

.more-content .item {
    border-radius: 0.63rem;
    padding: 0.16rem 0.24rem;
    margin: 0.3rem 0.2rem;
}
/* .more-content .item:hover {
    background-color: #21B5EB;
} */

.disappear {
    display: none;
}

.func-item {
    display: flex;
    justify-content: center;
    padding: 0 0.25rem;
    text-decoration: none;
    background: none;
    color: $ui-white;
    user-select: none;
    align-self: center;
    position: relative;
    align-items: center;
    white-space: nowrap;
    height: $menu-bar-height;
    font-size: 0.75rem;
}

.func-icon {
    width: 1.38rem;
    height: 1.38rem;
    margin-right: 0.38rem;
}

.language-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lan-item {
    width: 1.75rem;
    height: 1.75rem;
    background: #FFFFFF;
    border-radius: 0.63rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lan-func-item {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: none;
    color: $ui-white;
    user-select: none;
    align-self: center;
    position: relative;
    align-items: center;
    white-space: nowrap;
    height: $menu-bar-height;
    font-size: 1rem;
    color: #2F9CEF;
}

.red {
    color: #FF457F;
}
.blue {
    color: #2F9CEF;
}


