.container {
    position: fixed;
    z-index: 499;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    color: #fff;
    animation: loadingCover 10s both;
}

@keyframes loadingCover {
    0%,
    2% {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: none;
        opacity: 0;
    }
    10%,
    30% {
        opacity: 1;
        background: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(1px);
    }
    35%,
    50% {
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.3);
    }
    55%,
    100% {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
}
