@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blingBling {
    position: relative;
}

.blingBling::before {
    content: "";
    width: 5.53rem;
    height: 5.84rem;
    position: absolute;
    z-index: 2;
    bottom: -3rem;
    right: -3rem;
    /* background: #ffb52d; */
    animation: blingBlingHand 1s both infinite;
    background: center no-repeat url("@/assets/icons/hand.svg");
    background-size: 100%;
}

.blingBlingRight::before {
    background: center no-repeat url("@/assets/icons/hand-right.svg");
    background-size: 100%;
    bottom: -3rem;
    left: -4rem;
}

.blingBling::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    animation: blingBling 1.3s both infinite;
    pointer-events: none;
}
@keyframes blingBling {
    0% {
        box-shadow: 0 0 0px 1px #ffffff, 0 0 5px 5px #ffb52d;
        transform: scale(1);
        opacity: 1;
    }
    50% {
        box-shadow: 0 0 0px 1px #ffffff, 0 0 5px 5px #fff59d;
    }
    100% {
        box-shadow: none;
        transform: scale(1.25);
        opacity: 0;
    }
}

@keyframes blingBlingHand {
    0% {
        transform: none;
    }
    70% {
        transform: scale3d(0.8, 0.8, 0.8);
    }
    100% {
        transform: none;
    }
}
