@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blingBling {
    position: relative;
}
.blingBling::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    animation: blingBling 1.3s both infinite;
    pointer-events: none;
}
@keyframes blingBling {
    0% {
        box-shadow: 0 0 0px 1px #ffffff, 0 0 5px 5px #ffb52d;
        transform: scale(1);
        opacity: 1;
    }
    50% {
        box-shadow: 0 0 0px 1px #ffffff, 0 0 5px 5px #fff59d;
    }
    100% {
        box-shadow: none;
        transform: scale(1.25);
        opacity: 0;
    }
}
