.with-icon-right {
    position: relative;
}
.with-icon-right [class^="i-"]:before,
.with-icon-right [class*=" i-"]:before,
.with-icon-right [class*="_i-"]:before {
    position: absolute;
    right: 0.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
}

[class^="i-"],
[class*=" i-"],
[class*="_i-"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

[class^="i-"]:before,
[class*=" i-"]:before,
[class*="_i-"]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.13rem;
    height: 1.13rem;
    background: center no-repeat url("../assets/icons/show.svg");
    background-size: contain;
}

.i-edit:before {
    background-image: url("../assets/icons/edit.svg");
}

.i-send:before {
    background-image: url("../assets/icons/publish.png");
}

.i-check:before {
    background-image: url("../assets/icons/check.svg");
}

.i-save:before {
    background-image: url("../assets/icons/folder.png");
}

.i-stage:before {
    background-image: url("../assets/icons/stage.svg");
}

.i-code:before {
    background-image: url("../assets/icons/code.svg");
}

.i-bluetooth:before {
    background-image: url("../assets/icons/bluetooth.svg");
}

.i-download:before {
    background-image: url("../assets/icons/download.svg");
}

button i[class*="i-"]:first-child {
    margin-right: 0.25rem;
}
