.aside-btn-wrapper {
    position: absolute;
    z-index: 9;
    right: 1rem;
    bottom: 1rem;
}

button {
    margin: 0 0.5rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.38rem;
    background: url("./revoke.svg") no-repeat center;
    background-size: 100% 100%;
}

:global(.blocklyZoom) {
    transform: translate(0, 0);
    opacity: 0 !important;
}

.undo {
    background-image: url("./revoke.svg");
}

.redo {
    background-image: url("./reform.svg");
}

.zoomIn {
    background-image: url("./zoom\ in.svg");
}

.zoomOut {
    background-image: url("./zoom\ out.svg");
}

.align {
    background-image: url("./aline.svg");
}

.disable {
    opacity: 0.5;
}
