.aside-btn-wrapper {
    position: absolute;
    z-index: 9;
    right: 1rem;
    bottom: 1rem;
}

.aside-btn-wrapper button {
    margin: 0 0.5rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.38rem;
    background: url("./revoke.svg") no-repeat center;
    background-size: 100% 100%;
}

:global(.blocklyZoom) {
    transform: translate(0, 0);
    opacity: 0 !important;
}

button.undo {
    background-image: url("./revoke.svg");
}

button.redo {
    background-image: url("./reform.svg");
}

button.zoomIn {
    background-image: url("./zoom\ in.svg");
}

button.zoomOut {
    background-image: url("./zoom\ out.svg");
}

button.align {
    background-image: url("./aline.svg");
}

button.disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.tooltip{
   background-color: #76CBFF88 !important;

}
.tooltip:after{
   border-bottom-color: #76CBFF88 !important;
}


@media (pointer: coarse) {
    .tooltip {
      display: none;
    }
  }