.overlay {
    position: fixed;
    z-index: 10000099;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20.8125rem;
    height: 12rem;
    /* background: #EAF7FF; */
    /* box-shadow: 0rem 1px .4375rem 0rem rgba(208, 150, 255, 1); */
    border-radius: 1.25rem;
}

.container > * {
    position: relative;
}

.bg-img {
    position: absolute;
    right: 2.0625rem;
    bottom: 1.5625rem;
    width: 23.9375rem;
    height: 16.4375rem;
    background: center/contain no-repeat url("./img/ti-jiao-zhong.png");
}

.close {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 1.38rem;
    height: 1.38rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    background: center/contain no-repeat url("./img/close.svg");
    color: transparent;
}

.submit-x .bg-img {
    width: 23.9375rem;
    height: 16.4375rem;
    background-image: url("./img/tiao-guo.png");
}

.no-run-code .bg-img {
    width: 26.38rem;
    height: 16.97rem;
    background-image: url("./img/no-run-code.png");
}

.submit-ing .bg-img {
    width: 14.91rem;
    height: 9.44rem;
    background-image: url("./img/ing.png");
}

.submit-ing .text {
    width: 11.59rem;
    height: 3.78rem;
    font-size: 1rem;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #ffffff;
    line-height: 2.25rem;
    transform: translate(0, 8rem);
}
.submit-ing .text1 {
    font-size: 1.5rem;
}

.submit-correct .bg-img {
    right: 2.0625rem;
    bottom: 0.125rem;
    width: calc(61.0625rem / 2);
    height: calc(40.8125rem / 2);
    background-image: url("./img/tai-bang-le.png");
}

.submit-Fault .bg-img {
    right: 2.0625rem;
    bottom: 1.875rem;
    width: calc(50.75rem / 2);
    height: calc(31.9375rem / 2);
    background-image: url("./img/zai-shi-shi.png");
}

.submit-ed .bg-img {
    width: 23.9375rem;
    height: 16.4375rem;
    background-image: url("./img/yi-ti-jiao.png");
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: SourceHanSansCN-Normal, SourceHanSansCN;
    font-weight: 400;
    color: #0091ff;
    line-height: 1.25rem;
    white-space: pre-wrap;
    text-align: center;
}

.button {
    min-width: 6.56rem;
    height: 2.5rem;
    padding: 0 0.875rem;
    background: #ff457f;
    box-shadow: 0rem 1px 0.25rem 0rem rgba(0, 0, 0, 0.33),
        inset 0rem 1px 0.75rem 0rem rgba(255, 176, 200, 1);
    border-radius: 0.625rem;
    font-size: 1rem;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5rem;
}
