@import "../../css/colors.css";

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.icon-wrapper-abs
{
   position:absolute;
    display: inline-block;
    width: 0.88rem;
    height: 0.88rem;
    margin-left: 0.4rem;
    outline: none;
    user-select: none;
}

.container{
    position: relative;
}

.close-icon{
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    cursor: pointer;
}
.icon-button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.31rem;
    margin:0.25rem;
    line-height: 0.5rem;
    padding:0.1rem;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.active{
    background: #fff;
}

.icon-button img {
    width:1.13rem;
    height:1.13rem;
}

.icon-button.active > img {
    /* filter: none; */
}

.small-input {
    width: 2.5rem !important;
}

.new-input {
    height: 1.38rem;
    border-radius: 0.5rem;
    border: 1px solid #32C5FF;
    color: #32C5FF;
    background: none;
    font-size: 0.75rem;
    padding: 0;
    text-align: center !important;
    display: flex;
    justify-content: center;
}
